/* === TOKYO NIGHT PALETTE === */
/* background: #1a1b26 */
/* storm bg:   #24283b */
/* foreground: #c0caf5 */
/* blue:       #7aa2f7 */
/* red:        #f7768e */
/* green:      #9ece6a */
/* yellow:     #e0af68 */

.control-center {
    background: #1a1b26cc;
    border: 2px solid #A9B1D6FF;
    border-radius: 20px;
    box-shadow: none;
}

.widget-title {
    color: #7aa2f7;
    font-size: 1rem;
    font-weight: bold;
}

.widget-label {
    color: #c0caf5;
    font-size: 1rem;
}

.notification-row {
    outline: none;
    background: transparent;
    margin: 10px 0;
}

.notification {
    background: #1a1b26cc;
    border-radius: 20px;
    border: 2px solid #A9B1D6FF;
    box-shadow: none;
    padding: 10px;
}

.notification-content {
    background: transparent;
    padding: 10px;
}

.summary {
    font-size: 16px;
    font-weight: bold;
    color: #c0caf5;
}


.body {
    font-size: 14px;
    color: #a9b1d6;
}

.notification.critical {
    background: #1a1b26cc;
    border: 2px solid #f7768e;
    box-shadow: none;
    padding: 10px;
}

.notification.critical .summary,
.notification.critical .body {
    color: #f7768e;
}

.notification-row:focus,
.notification-row:hover {
    background: transparent;
}

.notification-action {
    background: transparent;
    color: #c0caf5;
    border: 1px solid #A9B1D6FF;
    border-radius: 10px;
}

.widget-mpris-player {
    padding: 0px;
    margin: 10px;
    min-height: 0px;
}

.widget-mpris {
    padding: 0px;
    min-height: 0px;
}

.widget-mpris-player>box>button {
    margin: 0px;
}
