node_modules
**/node_modules/
artifacts

# opencode
opencode/.config/opencode/package.json
opencode/.config/opencode/bun.lock
opencode/.config/opencode/antigravity-accounts.json
opencode/.config/opencode/antigravity-accounts.json.*.tmp
opencode/.config/opencode/antigravity-signature-cache.json
opencode/.config/opencode/antigravity-logs/
opencode/.config/opencode/context-mode/
opencode/.config/opencode/.gitignore

# pi
pi/.pi/agent/.env
pi/.pi/agent/sessions
pi/.pi/agent/auth.json
pi/.pi/agent/settings.json
pi/.pi/agent/mcp-cache.json
pi/.pi/agent/git/
pi/.pi/agent/extensions/oc.ts
pi/.pi/agent/extensions/tx9/
pi/.pi/agent/tx9/jobs
pi/.pi/agent/.gitignore
pi/.pi/agent/package.json
pi/.pi/agent/pnpm-lock.yaml

# hyprland
hypr/.config/hypr/monitors.json
hypr/.config/hypr/monitors.conf
hypr/.config/hypr/monitors.conf.bak
hypr/.config/hypr/wallpaper_effects/.wallpaper_current
hypr/.config/hypr/wallust/wallust-hyprland.conf

# kitty
kitty/.config/kitty/kitty-themes/01-Wallust.conf

# rofi
rofi/.config/rofi/.current_wallpaper
rofi/.config/rofi/wallust/colors-rofi.rasi

# waybar
waybar/.config/waybar/wallust/colors-waybar.css

# herdr
herdr/.config/herdr/herdr-client.sock
herdr/.config/herdr/herdr-client.log
herdr/.config/herdr/herdr-server.log
herdr/.config/herdr/herdr.sock
herdr/.config/herdr/session.json
