 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #215A7B;
active-foreground: #C5EAF3;
normal-background: #1A1B23;
normal-foreground: #C5EAF3;
urgent-background: #3D8FAC;
urgent-foreground: #C5EAF3;

alternate-active-background: #06254B;
alternate-active-foreground: #C5EAF3;
alternate-normal-background: #1A1B23;
alternate-normal-foreground: #C5EAF3;
alternate-urgent-background: #1A1B23;
alternate-urgent-foreground: #C5EAF3;

selected-active-background: #3D8FAC;
selected-active-foreground: #C5EAF3;
selected-normal-background: #3D8FAC;
selected-normal-foreground: #C5EAF3;
selected-urgent-background: #215A7B;
selected-urgent-foreground: #C5EAF3;

background-color: #1A1B23;
background: rgba(0,0,0,0.7);
foreground: #C5EAF3;
border-color: #215A7B;

color0: #40424A;
color1: #001331;
color2: #001331;
color3: #041B38;
color4: #19435D;
color5: #2D6B81;
color6: #4293A6;
color7: #A3D9E6;
color8: #7298A1;
color9: #001A41;
color10: #001A41;
color11: #06254B;
color12: #215A7B;
color13: #3D8FAC;
color14: #58C4DD;
color15: #A3D9E6;


}

