@define-color highlight rgba(117, 241, 250, 1);
/* @define-color highlight rgba(255, 255, 255, 1); */
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: @dark-9;
  color: white;
  padding: 0px;
}

#workspaces {
  margin-right: 10px;
}

#workspaces button {
  margin: 3px 0px 3px 7px;
  background: transparent;
  color: white;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  padding: 1px 9px 1px 9px;
  border-radius: 8px;
  border: 2px solid @dark-8
}

#workspaces button:hover {
  background: @dark-7;
  border: 2px solid @highlight;
  color: @highlight;
}

#workspaces button.active {
  background: @highlight;
  border: 2px solid @highlight;
  color: black;
  font-weight: 700;
}

#workspaces button.active:hover {
  background: @highlight;
  color: black;
  opacity: 0.8;
}

#workspaces button.urgent:hover {
  background: rgba(227, 81, 73, 1);
  color: black;
}

#submap,
#battery,
#bluetooth,
#network,
#backlight,
#custom-cpu,
#custom-weather,
#cpu,
#memory,
#power-profiles-daemon,
#custom-notification,
#tray,
#volume {
  border-radius: 8px;
  padding: 5px 8px;
  background: @dark-8;
  margin: 3px 0px 3px 7px;
  transition: all 0.2s ease-in-out;
}

#battery:hover,
#bluetooth:hover,
#network:hover,
#backlight:hover,
#custom-cpu:hover,
#custom-weather:hover,
#cpu:hover,
#memory:hover,
#power-profiles-daemon:hover,
#custom-notification:hover,
#tray:hover,
#clock:hover {
  background: @dark-7;
}

#volume:hover {
  background: @dark-7;
}

#custom-lock,
#custom-power {
  margin-left: 5px;
}

#custom-power:hover,
#custom-lock:hover {
  background: @dark-7;
  border-radius: 8px;
}

#custom-media-now-playing:hover,
#custom-media-animation:hover {
  color: @highlight;
}

#battery:hover {
  color: #a3e635;
}

#battery.warning {
  color: #eab308;
}

#battery.critical {
  color: #ef4444;
}

#cpu:hover,
#custom-cpu:hover {
  color: #67e8f9;
}

#memory:hover {
  color: #fbbf24;
}

#backlight:hover {
  color: #fde68a;
}

#network:hover {
  color: #6ee7b7;
}

#bluetooth:hover {
  color: #60a5fa;
}

#power-profiles-daemon.performance {
  color: #ef4444;
}

#power-profiles-daemon.balanced {
  color: #eab308;
}

#power-profiles-daemon.power-saver {
  color: #22c55e;
}

#status {
  color: @highlight;
}

#clock {
  margin-left: 10px;
  margin-right: 15px;
  padding: 5px 8px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

#submap,
#workspaces button.urgent {
  background: rgba(227, 81, 73, 1);
  color: black;
}

#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 5px;
  background: @dark-7;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @highlight;
}

#media {
  color: #42ff9f;
  margin: 1px 0px 1px 30px;
}

#custom-media-animation {
  font-size: 13px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: @dark-5;
  font-size: 14px;
}

tooltip {
  background: @dark-9;
  border-radius: 5px;
}

tooltip label {
  color: white;
}
